extends layout

block content
    .container(style="margin:auto;min-height:50px;")
        h4#home(style="text-align:right;") Books
        table.tg
            thead
                tr
                    th.tg-lboi Title
                    th.tg-0pky Author
                    th.tg-0pky Action
            tbody
                each book in books
                    tr
                        td.tg-0pky=book.title
                        td.tg-0pky=book.author
                        td.tg-0pky 
                            button.btn-primary Edit
                            button.btn-warning Delete

